This project is going to be a classification task, with a partially structured dataset, as one of the columns will have unstructured text inside of it.

In [1]:
import pandas as pd
df = pd.read_csv('../data/books.csv')

In [2]:
df

      name favorite_genre                                 description
0    Alice        Fantasy          Loves dragons and mysterious lands
1      Bob         Sci-Fi  Enjoys exploring space and futuristic tech
2  Charlie         Horror       Fascinated by ghosts and dark stories

In [3]:
print(df)

      name favorite_genre                                 description
0    Alice        Fantasy          Loves dragons and mysterious lands
1      Bob         Sci-Fi  Enjoys exploring space and futuristic tech
2  Charlie         Horror       Fascinated by ghosts and dark stories

In [4]:
df.shape

(3, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3 non-null      object
 1   favorite_genre  3 non-null      object
 2   description     3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

df.shape gives the number of rows and columns, while df.info() gives the class, range, types of data and memory usage, also tells us if there are any null values and what kind of data each column has.

In [6]:
df.describe()

         name favorite_genre                         description
count       3              3                                   3
unique      3              3                                   3
top     Alice        Fantasy  Loves dragons and mysterious lands
freq        1              1                                   1

df.describe() Gives the count, unique counts, top and frequency of each column. Might be useful. Gives mean, std, min, max for numbers.

In [7]:
df.duplicated()

0    False
1    False
2    False
dtype: bool

In [8]:
df.duplicated().sum()

np.int64(0)

0 means no duplicated rows, 1 means otherwise. np is numpy.

In [9]:
df['favorite_genre'].count()

np.int64(3)

In [10]:
df['favorite_genre'].value_counts()

favorite_genre
Fantasy    1
Sci-Fi     1
Horror     1
Name: count, dtype: int64

count() returns the total count, while value_counts() returns the counts of each value. Pretty neat.