In [1]:
import pandas as pd
import spacy
df = pd.read_csv('../data/books.csv')
df.head()

      name favorite_genre                                 description
0    Alice        Fantasy          Loves dragons and mysterious lands
1      Bob         Sci-Fi  Enjoys exploring space and futuristic tech
2  Charlie         Horror       Fascinated by ghosts and dark stories

In [4]:
nlp = spacy.load('en_core_web_sm')

def clean_description(text):
    doc = nlp(text.lower())
    tokens = [token.lemma_ for token in doc if not token.is_punct and not token.is_stop]
    return " ".join(tokens)
df['cleaned_text'] = df['description'].apply(clean_description)

In [5]:
df[['description','cleaned_text']]

,description,cleaned_text
0,Loves dragons and mysterious lands,love dragon mysterious land
1,Enjoys exploring space and futuristic tech,enjoy explore space futuristic tech
2,Fascinated by ghosts and dark stories,fascinate ghost dark story

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
from sklearn.metrics import classification_report